/*主体部分*/

main {
	margin: 0 auto 200px;
	width: 65%;
}

.page {
	padding: 30px 0;
	font: 16px "微软雅黑";
	border-bottom: solid 1px #C0C0C0;
	font-weight: bold;
}

.page a {
	color: #1FB176;
}

.direction {
	padding: 30px 0;
	font: "微软雅黑" 14px;
	color: #C0C0C0;
	border-bottom: solid 1px #C0C0C0;
}

.direction a {
	line-height: 30px;
	color: #3C3C3C;
	margin-left: 2rem;
}

.direction a:hover {
	background-color: #1FB176;
	color: white;
}

.devolop {
	padding: 30px 0;
	border-bottom: solid 1px #C0C0C0;
	font-weight: bold;
	font-size: 16px;
}


/*黑色介绍图*/

.intraduce {
	color: white;
	text-align: center;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 2rem;
	height: 100%;
	background-color: #000000;
	opacity: 0.7;
}

.intraduce-one {
	margin-top: 3rem;
	font-size: 2rem;
}

.intraduce-two {
	font-size: 2rem;
	margin-top: 3rem;
}

.devolopone:hover .intraduce {
	display: block;
}

.devolopone1:hover .intraduce {
	display: block;
}

.devolopone2:hover .intraduce {
	display: block;
}


/*职业详细*/

.devolop-part {
	overflow: hidden;
	margin-top: 50px;
}

.devolopone {
	margin-right: 16.7px;
	position: relative;
	border: solid 1px #CCCCCC;
	box-shadow: 2px 2px 9px #C0C0C0;
}

.devolone_content {
	float: left;
	overflow: hidden;
	width: 33.33%;
}

.devolopone1 {
	margin: 0 8.5px;
	position: relative;
	border: solid 1px #CCCCCC;
	box-shadow: 2px 2px 9px #C0C0C0;
}

.devolopone2 {
	margin-left: 16.7px;
	position: relative;
	border: solid 1px #CCCCCC;
	box-shadow: 2px 2px 9px #C0C0C0;
}

.devolopone-part {
	border-bottom: solid 1px #CCCCCC;
}

.devolone-part2 {
	height: 100%;
	padding: 10px;
}

.oneleft {
	margin-right: 15px;
	float: left;
	background: url(../img-task8/职位列表_05.jpg) left no-repeat;
	background-size: 100%;
}

.oneright-p1 {
	font-size: 16px;
	margin-top: 15px;
	font-weight: bold;
}

.oneright-p2 {
	font-size: 14px;
	margin-top: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	min-height: 81px;
}


/*门店 */


/*成长周期*/

.devoloptwo,
.devolopthree {
	font-size: 12px;
	overflow: hidden;
	color: #C0C0C0;
	border-bottom: solid 1px #CCCCCC;
}

.devolop-partone,
.devolopthree-one {
	border-right: solid 1px #CCCCCC;
}

.devolop-parttwo,
.devolop-partone,
.devolopthree-one,
.devolopthree-two {
	padding: 15px 10px;
	width: 50%;
	float: left;
}

.devoloptwo a,
.devolopthree a ,
.devolopfive a {
	color: red;
	margin: 0 10px;
}


/*薪资待遇*/

.devolopfour {
	font-size: 12px;
	position: relative;
	overflow: hidden;
	align-items: center;
	border-bottom: solid 1px #CCCCCC;
	max-height: 150px;
}

.devolopfour-one {
	position: absolute;
	top: 12%;
	box-sizing: border-box;
	padding-top: 38px;
	color: #CCCCCC;
	text-align: center;
	width: 40%;
	min-height: 90px;
	float: left;
}

.devolopfour-two {
	box-sizing: border-box;
	border-left: solid 1px #CCCCCC;
	width: 60%;
	float: right;
}

.devolopfour-two1 {
	border-bottom: solid 1px #CCCCCC;
}

.devolopfour-two2,.devolopfour-two1 {
	padding:  10px 10px 10px 25px;
	overflow: hidden;
	width: 100%;
	min-height: 16px;
}

.dft-left {
	margin: 0;
	width: 40%;
	float: left;
}

.dft-right {
	margin: 0;
	text-align: right;
	width: 60%;
	float: right;
}

.devolopfive {
	padding: 10px 10px;
	font-size: 14px;
	border-bottom: solid 1px #CCCCCC;
}

.devolopsix {
	font-size: 12px;
	color: #CCCCCC;
	padding: 10px 10px;
}

.devolop-part1 {
	overflow: hidden;
	padding-top: 50px;
}

.mtop {
	margin-top: 4rem;
}

@media only screen and (max-width:1440px) {
	.devolone_content {
		width: 100%;
		margin-bottom: 60px;
		float: none;
	}
}
@media only screen and (max-width: 472px) {
	main{
		width: 90%;
	}
}